body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient( #c78fff, rgb(3, 217, 255),#8800c2);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-page {
  background: linear-gradient(transparent,#d9baff, transparent);
  padding: 100px;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: transform 0.3s;
}

.login-page:hover {
  transform: scale(1.05);
}

.login-tittle {
  position: relative;
  right: 120px;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(97, 9, 229);
}

.quiz-tittle {
  top: -40px;
  color: white;
  font-size: 35px; 
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.5s ease-in-out;
  text-align: center;
  position: relative; 
}

.quiz-tittle::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background: linear-gradient( rgb(0, 217, 255), #e3e2e5,#5e0087);
  bottom: -5px;
  left: 0;
  transition: width 0.5s ease-in-out;
}

.quiz-tittle:hover {
  color: #4700c1;
  font-size: 30px;
  letter-spacing: 2px; 
}

.quiz-tittle:hover::after {
  width: 100%; 
} 

h2 {
  color: white; 
  margin-bottom: 20px; 
}

.input-login {
  border-radius: 10px;
}

.login-input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5); 
  border: 20px solid white; 
}

.login-btn {
  margin: 20px;
  background: linear-gradient( #a54bff, rgb(3, 217, 255));
  color: #dadada;
  font-weight: 800;
  border: none;
  border-radius: 5px; 
  padding: 10px 20px; 
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.login-btn:hover {
  background: linear-gradient( #21ffde, rgb(87, 255, 107));
  color: rgb(255, 254, 254);
  transform: scale(1.05);
}

@media (max-width: 480px) { 
  .input-login {
    border-radius: 10px;
    position: relative;
    right: 10px;
  }
}